node_modules
dist
coverage
.bun
.vite
.vite-temp
.DS_Store
Thumbs.db

.env
.env.local
.env.*.local

*.log
*.err.log

.vercel
.turbo
.claude
skills

aura-template.css
aura-template.html
aura-template.js
aura-template-home.png
